<?xml version="1.0"?>

<model>
    <name>TestModel</name>
    <version>1.0</version>
    <sdf versuion="1.5">model.sdf</sdf>

    <author>
        <name>Rishab Patwari</name>
        <email>rishab.patwari@u.nus.edu</email>
    </author>

    <description>
        Test Model For Gazebo Training!
    </description>
</model>