<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Tool_Stick_holder">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.4328E-05 -0.00021215 0.035446"
        rpy="0 0 0" />
      <mass
        value="0.1248" />
      <inertia
        ixx="0.0001414"
        ixy="-1.4383E-09"
        ixz="1.5081E-07"
        iyy="0.00022858"
        iyz="6.236E-07"
        izz="0.00012456" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Tool_Stick_holder/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Tool_Stick_holder/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>