<launch>
	<!-- Combinejoin values to TF -->
	<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"> 
		<!-- <param name="use_gui" value="$(arg gui)" />	 -->
		<!-- <rosparam param="source_list" subst_value="true">["joint_states"]</rosparam> -->
	</node>
	<!-- Open control script -->
	<node name="control_slider" pkg="mycobot_320_moveit" type="slider_control.py"/> 
</launch>
