<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Tool_stick">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.042076 0.071035 0.037695"
        rpy="0 0 0" />
      <mass
        value="0.080757" />
      <inertia
        ixx="2.0339E-05"
        ixy="5.6024E-08"
        ixz="-3.6318E-08"
        iyy="2.0459E-05"
        iyz="1.4495E-08"
        izz="1.8317E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Tool_stick/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Tool_stick/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>