<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mycobot_pro">

  <xacro:macro name="base_arm_macro">
      <xacro:arg name="ros_namespace" default="mycobot_pro"/>
      <xacro:arg name="attach_to" default="robot_arm_mount"/>
      <xacro:arg name="camera_sensor" default="True"/>
    
    
      <!-- load base -->
      <xacro:include filename="$(find arm_plus_base_description)/urdf/abluo_urdf_1.xacro"/>
    
      <!-- load mycobot_pro robot attach to base -->
      <xacro:include filename="$(find arm_plus_base_description)/urdf/mycobot_robot_macro.xacro" />

       <!-- include gazebo transmissions -->
       <xacro:include filename="$(find arm_plus_base_description)/urdf/arm_plus_base.gazebo.xacro"/>
      <xacro:mycobot_pro_robot_macro camera_sensor="$(arg camera_sensor)" attach_to="$(arg attach_to)" xyz="0 0.015 0" rpy="-1.5707 1.5707 0"/>
  </xacro:macro>
  <xacro:base_arm_macro/>


</robot>
